{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="col-6 offset-3">
	<h2>Mot de passe oublié ?</h2>
	{% include "@FOSUser/Resetting/request_content.html.twig" %}
</div>
{% endblock fos_user_content %}
