<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="" />
    <title>Invitation à un groupe Récap</title>
</head>
<body>
<p>Vous avez reçu une invitation de {{ invite.auteur.username }} pour rejoindre le groupe "{{ invite.groupe.titre }}".</p>

<p>Rejoingnez ce groupe sur l'application Récap !</p>
 
<p>A bientôt.</p>

<p>L'équipe Récap</p>

</body>
</html>