# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale: fr
    database_host: 127.0.0.1
    database_port: ~
    database_name: db_name
    database_user: root
    database_password: ~
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    max_filesize: ~
    max_groupe: ~
    avatar_directory: ~
    ressource_dir: ~
    paypal_id: ~
    paypal_secret: ~
    secret: ThisTokenIsNotSoSecretChangeIt
