{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p> Vous avez reçu un mail contenant un lien qui vous permettra de valider votre compte !
</p>
{% endblock %}