{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h6 class="">Validez votre compte via votre boîte mail et vous pourrez rejoindre la communauté de Récap !<br></h6> 
    <a href="{{ path('app_home') }}" class="text-center">Retour à l'accueil</a>
{% endblock fos_user_content %}