{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h6 class="">Validez votre compte et vous pourrez rejoindre la communauté de Récap !<br></h6> 
    <a href="{{ path('app_home') }}" class="text-center">Retourné sur l'application</a>
{% endblock fos_user_content %}