{% block body_html %}
    <p>Bonjour <b>{{ user.nom }} {{ user.prenom }}</b>!</p>

    <p>Confirmer votre compte en cliquant sur le lien suivant : <a href="{{ confirmationUrl }}">Confirmer mon compte</a>.</p>

    <p>Merci.</p>

    <p>L'équipe Recap</p>
{% endblock %}