<!DOCTYPE html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500" rel="stylesheet">
    {% stylesheets 
    'bundles/app/css/paypal.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  {% endblock %}
</head>

<body>
  <div>
    <a href="{{ path('app_purchase_validate', { 'type': 2 }) }}" class="paypal-button">
      <p>Payer par <i>Paypal</i> pour bénéficer d'un 1 an de Premium</p>
    </a>
  </div>
  <div>
    <a href="{{ path('app_purchase_validate', { 'type': 1 }) }}" class="paypal-button">
      <p>Payer par <i>Paypal</i> pour bénéficer de 6 mois de Premium</p>
    </a>
  </div>

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/06bfea3587.js"></script>
  {% endblock %}
</body>