<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="" />
    <title>Message formulaire contact</title>
</head>
<body>
<p>{{ auteur }} a envoyé un message via le formulaire de contact</p>

<p>{{ message }}</p>

<br>

<p>{{ email }} - {{ tel }}</p>

<p>L'équipe Récap</p>

</body>
</html>