<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="" />
    <title>Votre fiche à bien été ajoutée</title>
</head>
<body>
<p>Bonjour {{ user.getUsername() }},</p>

<p>Votre fiche <i><b>{{ fiche.getTitre() }}</b></i> à bien été ajouté sur le groupe <i><b>{{ groupe.getTitre() }}</b></i>. Les membres du groupe pourront maintenant la visionner.</p>

<br>

<p>L'équipe Récap</p>

</body>
</html>